body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #e2e0e0;
  overflow: hidden;
}

main {
  min-width: 80%;
  max-width: 1180px;
  flex: 1;
  padding: 1rem;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #000000;
  color: white;
}
